<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Contact </title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/img/css/style.css}"/>
</head>


<body>
<!-- header -->
<nav th:insert="fragments/navbar :: nav_fragment"></nav>


<!-- main container -->
<div class="container">
    <div class="card">
        <div class="card-header bg-info">
            <h2> Contact form: </h2>
        </div>

        <div class="card-body">
            <form th:action="@{/contact}" method="post">

                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                </div>

                <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModal"> Send
                </button>
            </form>

            <div th:if="${emailList.isEmpty()}">
                Data not found
            </div>
            <div th:unless="${emailList.isEmpty()}">

                <table>
                    <tbody>
                    <tr th:each="email : ${emailList}">
                        <td>
                            <span th:text="${email}"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<!-- footer -->
<footer th:insert="fragments/footer :: footer_fragment"></footer>
</body>
</html>