<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Home </title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/img/css/style.css}"/>
</head>


<body>
<!-- header -->
<nav th:insert="fragments/navbar :: nav_fragment"></nav>


<div class="container p-3 my-3 bg-info">
    <h2> Welcome to this page! </h2>

    <div class="row">
        <div class="col-xs-6 col-sm-3">
            <p> Responsive mobile-first sites with Bootstrap </p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6 col-sm-3">
            <p> A Spring MVC is a Java framework which is used to build web applications. </p>
        </div>
    </div>
</div>


<!-- footer -->
<footer th:insert="fragments/footer :: footer_fragment"></footer>

</body>
</html>